.header-container {
    width: 100%;
    height: 700px;
    position:relative;
}
.header-container::after{
    height:750px;
    content:' ';
    position: absolute;
    top: 0;
    width: 20%;
    right: 0;
    background-color: rgb(140, 109, 226);
    z-index: -50;
}
