.make-appointment{
    background-image: url(../../../Images/appointmentBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 420px;
    background-position: center center;
}

.make-appointment::before{
    content:  "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(124, 165, 124, 0.39);
    opacity: .8;
    top: 0;
}

.make-appointment button {
    content:  "";
    transform: translateX(-10px);
}
.make-appointment img{
    transform: translateY(-130px);
}

